.title {
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 700;
    font-size: 2.5rem;
    color: black;
}

.paymentMethods {
    margin: 1em 5em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 3em;
    
    
}

.paymentMethod:hover{
    cursor: pointer;
    translate: 0 -15px;
    border: 1px solid #0766AD;
    transition: 0.8s;
    outline: none;
}

.paymentMethod {
    
    padding: 1em;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.paymentImg {
    max-width: 100%;
    width: 10em;
    height: 10em;
    object-fit:scale-down;
}