.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  height: 10%;
  padding: 4rem;
  background-color: black;
}

.tool {
  text-decoration: none;
  color: white;
}

.tools {
  margin: 1em;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.copyright {
  margin-top: 2rem;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: normal;
}
