.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
}

.left {
    display: flex;
    align-items: center;
    gap: 2em;
}

.right {
    display: flex;
    align-items: center;
}

.navItems {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 1.5rem;
    cursor: pointer;
}


.loginButton {
    text-decoration: none;
    color: black;
    font-weight: 600;
    color: blue;
    font-size: 1.5rem;
}

.logo{
    width: 10rem;
}