.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f7f7f7 ;
}

.konten-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  /* border: 1px solid black; */
  min-height: 500px;
  min-width: 500px;
}

.title {
  color: #000;
  font-family: Montserrat;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 2rem;
}

.konten {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
  min-height: 500px;
  min-width: 600px;
  /* padding: 1rem; */
}

.form-box {
  padding: 2rem;
  border-radius: 20px;
  background: #fff;
  filter: drop-shadow(0px 0px 15px rgba(0,0,0,.4));
  width: 100%;
  height: 90%;
  margin-bottom: 2rem;
}

.form {
  translate: 0 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-labels-text {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.form-group {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.form-control {
  font-size: 1.25rem;
  text-align: right;
  border: none;
  outline: none;
  background-color: transparent;
  margin: 0.5rem 0;
}

.line {
  margin: 10px 0;
  opacity: 0.75;
  border: 1px solid #1e1e1e;
  width: 90%;
}

.button-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}

.canButton {
  border: none;
  background-color: #535353;
  padding: 0.5rem 4rem;
  color: white;
  border-radius: 1em;
}

.canButton:hover {
  border: 1px solid #535353;
  transition: 0.5s;
  background-color: white;
  color: #535353;
}

.payButton {
  border: none;
  background-color: red;
  padding: 0.5rem 4rem;
  color: white;
  border-radius: 1em;
}

.payButton:hover {
  border: 1px solid red;
  transition: 0.5s;
  background-color: white;
  color: red;
}