.introduction {
    background-image: url('/assets/intro-img.jpg');
    background-size: contain;
    text-align: center;
    color: white;
    padding: 5em;
}

.cesIntro {
    color: red;
}

.introdetail {
    margin: auto;
    text-align: center;
    max-width: 52%;
}

.introbutton {
    cursor: pointer;
    margin-top: 2em;
    border: 1px solid white;
    border-radius: 2em;
    padding: 0em 5em;
    color: white;
    font-weight: 500;
    background-color: transparent;   
}

.introbutton:hover {
    background-color: white;
    color: black;
}

.details {
    background-color: #F7F7F7;
    padding: 5em;
    text-align: center;
    gap: 4em;
    justify-content: space-evenly;
    display: flex;
}

.detail {
    flex: 0.4;
}

.faq {
    display: flex;
    align-items: center;
}

.faqRight {
    flex: 3;
    padding: 2em;
}

.faqLeft {
    flex: 1;
}

.faqImg {
    width: 60%;
}

.faqbutton {
    cursor: pointer;
    border: 1.5px solid black;
    color: black;
    background-color: transparent;
    padding: 0em 4em;
    border-radius: 1em;
}

.faqbutton:hover {
    background-color: black;
    color: white;
}

.pay {
    background-color: #F7F7F7;
    text-align: center;
    padding: 3em;
}

.paybutton {
    border: none;
    background-color: red;
    padding: 0em 4em;
    color: white;
    border-radius: 1em;
}

