.payment {
    width: 60%;
    margin: auto;
}

.payForm {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.formItem {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.formLabel {
    font-weight: 600;
}

.formInput {
    border: none;
    background-color: #F0F0F0;
    padding: 1em 2em;
    border-radius: 2em;
}

.payButton {
    width: 20%;
    margin: 1em auto;
    border: none;
    background-color: red;
    padding: 0em 4em;
    color: white;
    border-radius: 1em;
}

.payButton:hover {
    cursor: pointer;
    opacity: 0.8;
}